.tweetsaa{
    margin:20px 0px;
    width:500px;
    font-family:"Times New Roman";
    background-color:#eee;
    border-radius:3px;
    font-size: 16px;
    margin-left: 20px;
}
.content{
    display:flex;
    text-align:left;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 10px;
    background-color: white;
}
.behavior{
    display: flex;
    margin-left: 10px;
}
.textname{
    font-weight: bold;
    color: black;
}
.text{
    margin-left: 10px;
    color: gray;
    margin-right: 20px;
}
.imageme{
    border-radius: 100%;
    margin: 10px;
}
.posttweet{
    background-color: #61dafb;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.textareatweet{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
}