.DashboardProfileCard {
    border: 1px solid #e6ecf0;
    background: #fff;
    width: 300px;
}

.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.DashboardProfileCard-bg {
    background-size: 100%;
    height: 95px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: 0 50%;
    width: 100%;
    padding: 0;
    margin-top: -1px;
}

.DashboardProfileCard-content {

}

.DashboardProfileCard-avatarContainer {
    width: 72px;
}

.DashboardProfileCard-avatarLink {
    background-color: #fff;
    border-radius: 50%;
    margin: -30px 0 0 8px;
    padding: 1px;
    vertical-align: bottom;
}

.DashboardProfileCard-avatarImage {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}

.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #1DA1F2 !important;
}

.u-block {
    display: block!important;
}

.u-inlineBlock {
    display: inline-block!important;
    max-width: 100%;
}

.DashboardProfileCard-userFields {
    position: absolute;
    top: 103px;
    left: 90px;
    width: 185px;
}

.DashboardProfileCard-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: -1px 0 -2px 0;
}

.u-textTruncate {
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}

.u-textInheritColor {
    color: inherit!important;
}

.u-dir[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}
.u-inlineBlock {
    display: inline-block!important;
    max-width: 100%;
}

.DashboardProfileCard-screennameLink {
    font-size: 12px;
    padding-right: 5px;
    color: #66757f;
    width: 185px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.u-linkComplex, .u-linkComplex:hover, .u-linkComplex:focus, .u-linkComplex:active {
    text-decoration: none!important;
}

.u-linkClean, .u-linkClean:hover, .u-linkClean:focus, .u-linkClean:active {
    text-decoration: none!important;
}

.account-group .username, .time, .time a, .created-via {
    font-size: 14px;
    color: #657786;
}

.DashboardProfileCard .ProfileCardStats {
    padding-top: 16px;
}

.ProfileCardStats {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.Arrange--equal {
    table-layout: fixed;
}
.Arrange {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ol, ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.Arrange--equal>.Arrange-sizeFill, .Arrange--equal>.Arrange-sizeFit {
    width: 1%;
}
.Arrange--bottom .Arrange-sizeFill, .Arrange--bottom .Arrange-sizeFit {
    vertical-align: bottom;
}

.ProfileCardStats .ProfileCardStats-stat {
    vertical-align: bottom;
}
.Arrange-sizeFill, .Arrange-sizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.ProfileCardStats-stat {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    transition: all .15s ease-in-out;
}
li {
    text-align: inherit;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:hover .ProfileTweet-actionCount, .u-textUserColorHover:focus {
    color: #1DA1F2 !important;
}
.u-linkClean, .u-linkClean:hover, .u-linkClean:focus, .u-linkClean:active {
    text-decoration: none!important;
}

.ProfileCardStats-statLabel {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 16px;
    overflow: hidden;
    transition: color .15s ease-in-out;
}

.ProfileCardStats-statValue {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    transition: color .15s ease-in-out;
}