.profilewaper{
    display: flex;
}
.profile {
    font-family:"Times New Roman";
    background-color:#eee;
    border-radius:3px;
}
.profile-bg{
    width: 100%;
    height: 250px;
}

.profile-avatar {
    position: relative;

}

.profile-navbar {
    width: 100%;
    height: 60px;
    background-color: white;
}

.profile-content{
    position:relative;
    top:-200px;
    left:40px;
    width:260px;
}

.profile-name{
    margin-right: 10px;
    width: 100px;
}

.profile-identity {
    display:inline-block;
    text-align:left;
    margin-left: 10px;
}
.profile-information{
    text-align: left;
    font-size:16px;
}

.profile-username {
    font-size:16px;
}

.profile-middle {
    background-color: white;
}

ul {
    margin:15px 0 0 0;
    padding:0;
    text-align:center;
}

li.stats-item {
    font-size:15px;
    display:inline-block;
    margin:0 10px;
}

.stat-value {
    font-size:19px;
    color:blue;
}