.profile {
    margin:20px 0px;
    width:300px;
    font-family:"Times New Roman";
    background-color:#eee;
    border-radius:3px;
}

.profile-content{
    position:relative;
    top:-35px;
    left:20px;
    width:260px;
}

.profile-identity {
    display:inline-block;
    text-align:left;
    margin-left: 10px;
}
.profile-information{
    text-align: left;
    font-size:16px;
}

.profile-username {
    font-size:16px;
}

ul {
    margin:15px 0 0 0;
    padding:0;
    text-align:center;
}

li.stats-item {
    font-size:15px;
    display:inline-block;
    margin:0 10px;
}

.stat-value {
    font-size:19px;
    color:blue;
}