.follow {
    font-family:"Times New Roman";
    background-color:white;
    border-radius:3px;
    font-size: 16px;
}
.follow .title{
    font-size: 19px;
    font-weight: bold;
    text-decoration-line: underline;
    margin-left: 10px;
}
.follow .content{
    display:flex;
    text-align:left;
    margin-left: 10px;
    margin-top: 10px;
}
.avatar{
    border-radius: 100%;
}
.info{
    text-align:left;
    margin-left: 10px;
}